.ant-spin-nested-loading {
  .table-item {
    .ant-spin-container {
      .ant-table-thead {
        th {
          font-weight: 500;
          background-color: #f6f6f6;
          color: #8c3e3e;
        }
      }
    }
  }
}
