.Blogging-wrapper {
  padding: 100px 4% 2% 4%;
  input {
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 32px;
    color: #292929;
    margin-bottom: 10px;
    width: 100%;
    background-color: #fefefe;
    &:focus {
      border-color: none;
      box-shadow: none;
    }
    &:hover {
      border-color: none;
      box-shadow: none;
    }
  }
  textarea {
    font-size: 15px !important;
    line-height: 27px !important;
  }
}
.Modal-publish {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  .ant-modal-body {
    height: 100vh;
  }
}
.Xuat-ban {
  cursor: pointer;
  border: none;
  border-radius: 32px;
  width: 100px;
  text-align: center;
  font-weight: 400;
  background-color: #8ac288;
  margin-right: 27px;
  line-height: 29px;
  font-size: 14px;
  color: #f8f6f6;
  &:hover {
    background-color: #75ad73;
  }
}
.Publish-wrapper {
  display: flex;
  margin: 10% 0;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  section {
    width: 40%;
    display: flex;
    flex-direction: column;
    input {
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 5px 5px;
      outline: none;
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      margin-top: 10px;
    }
    p {
      margin-top: 10px;
    }
    .img {
      margin-top: 10px;
      text-align: center;
      position: relative;
      width: 95%;
      height: 200px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #ecebeb;
      transition: opacity 0.4s ease;
      input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      &:hover {
        opacity: 0.7;
        p {
          opacity: 1;
        }
      }
    }
    .squaredcheck {
      width: 100%;
      position: relative;
      margin: 20px 0;
      label {
        width: 18px;
        height: 18px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        left: 0;
        background: #1c8b8b;
        border-radius: 4px;
        &:after {
          content: "";
          width: 10px;
          height: 5px;
          position: absolute;
          top: 5px;
          left: 4px;
          border: 2px solid #fff;
          border-top: none;
          border-right: none;
          background: transparent;
          opacity: 0;
          transform: rotate(-45deg);
        }
        &:hover::after {
          opacity: 0.3;
        }
      }

      span {
        position: absolute;
        width: 500px;
        left: 30px;
      }
    }
    .button-group {
      button {
        border: none;
        width: 135px;
        height: 38px;
        border-radius: 6px;
        margin-right: 10px;
        background-color: #fff;
        color: rgb(99, 97, 97);
      }
      .btn-now {
        background-color: #1ca882;
        color: #fff;
        &:hover {
          background-color: #2ac098;
        }
      }
    }
  }
}
.img[style*="data:image/png;"] p {
  opacity: 0;
}
.squaredcheck input[type="checkbox"] {
  visibility: hidden;
}
.squaredcheck input[type="checkbox"]:checked + label::after {
  opacity: 1;
}
/* reponsive */
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .Publish-wrapper {
    flex-direction: column;
  }
  .Publish-wrapper section {
    width: 100%;
  }
  .Publish-wrapper section .img {
    margin: auto;
  }
  .ant-select,
  .ant-select-multiple,
  .ant-select-show-arrow,
  .ant-select-show-search {
    width: 60%;
    margin: auto;
  }
}
/* mobile */
@media (min-width: 0px) and (max-width: 739px) {
  .Publish-wrapper {
    flex-direction: column;
  }
  .Publish-wrapper section {
    width: 100%;
  }
  .Publish-wrapper section .img {
    margin: auto;
  }
  .ant-select,
  .ant-select-multiple,
  .ant-select-show-arrow,
  .ant-select-show-search {
    width: 60%;
    margin: auto;
  }
}
