.ModalAddUser-wrapper {
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 4px 11px;
    border: none;
    background-color: #f95a5a;
    color: #fff;
    // font-weight: 600;
    font-size: 16px;
    // border-radius: 10px;
    span {
      color: #fff;
      // font-weight: 600;
      font-size: 16px;
      margin-right: 6px;
    }
  }
}
.ant-modal-content {
  box-shadow: none;
  .ant-modal-header {
    .ant-modal-title {
      font-weight: 600;
      font-size: 18px;
    }
  }
  .ant-modal-body {
    padding: 10px 24px;
  }
}
form {
  .ant-row {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .ant-form-item-label {
    label {
      font-weight: 600;
      &::before {
        content: none !important;
      }
      &::after {
        content: "*";
        color: var(--color-primary);
      }
    }
  }
  .ant-form-item-control {
    width: 100%;
    .ant-form-item-control-input {
      input {
        border: none;
        border-bottom: 1px solid #ccc;
        &:focus {
          box-shadow: none;
        }
      }
      .ant-input-focused {
        box-shadow: none;
      }
    }
  }
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #747474;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: none;
}
.modal-form {
  button {
    margin: 0 6px;
  }
  .ant-btn-primary {
    border-color: #b67063;
    background: #da5335;
  }
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    border-color: #eb5012;
    background: #ee4c45ba;
  }
  .ant-btn:hover,
  .ant-btn:focus {
    border-color: #eb5012;
    background: #ee4c45ba;
    color: #fbfcfe;
  }
}
