.Tutorial-wrapper {
}
.ant-modal {
  .ant-modal-content {
    min-height: 240px;
    box-shadow: 3px 5px 7px 1px #0000004d;
    .ant-modal-body {
      .more {
        p {
          padding: 0 2%;
          font-weight: 600;
          line-height: 27px;
        }

        .button {
          display: flex;
          justify-content: flex-end;
          button {
            font-weight: 600;
            padding: 5px 2px;
            font-size: 13px;
            margin: 0 2px;
            color: #fff;
            width: 20%;
            border: none;
            border-radius: 3px;
          }
          .no {
            width: 24%;
            background-color: rgb(20, 165, 233);
          }
          .yes {
            width: 18%;
            background-color: rgb(236, 59, 59);
          }
          .primary {
            background-color: var(--color-primary);
          }
        }
        .btn-more {
          margin: 33px 0;
        }
      }
      .step {
        .ant-steps {
          .ant-steps-item-icon {
            color: var(--color-primary);
            .ant-steps-icon {
              color: var(--color-primary);
            }
          }
          .ant-steps-item-finish
            > .ant-steps-item-container
            > .ant-steps-item-content
            > .ant-steps-item-title::after {
            color: var(--color-primary);
            background-color: var(--color-primary);
          }
          .ant-steps-item-process
            > .ant-steps-item-container
            > .ant-steps-item-icon {
            background-color: rgb(255, 159, 159);
          }
          .ant-steps-item-process
            > .ant-steps-item-container
            > .ant-steps-item-content
            > .ant-steps-item-title::after,
          .ant-steps-item-wait
            > .ant-steps-item-container
            > .ant-steps-item-content
            > .ant-steps-item-title::after {
            background-color: #ffb2b2;
          }

          .ant-steps-item-process .ant-steps-item-icon,
          .ant-steps-item-wait .ant-steps-item-icon,
          .ant-steps-item-finish .ant-steps-item-icon {
            border-color: rgb(214, 47, 5);
          }
        }
        .steps-content {
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 22px 0;
          p {
            width: 40%;
            padding: 0;
          }
          img {
            width: 60%;
            height: 400px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
