.Course-item {
  animation-delay: 0.4s;
  p {
    margin-bottom: 10px;
    text-align: left;
    i {
      font-size: 17px;
      margin-right: 10px;
      color: rgb(104, 104, 104);
    }
    span {
      color: #777777;
    }
  }
}
